.contributions {
  min-height: 100vh;
  width: 100vw;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #e6ab5d;

  ul.technologies {

    li {
      margin-right: 1em;
      color: white;
      padding-left: .25em;
      padding-right: .25em;
      border-radius: .25em;

      &:nth-child(odd) {
        background: #65bad8;
      }

      &:nth-child(even) {
        background: #dda65c;
      }
    }
  }

  .repository {
    background: white;
    padding: 1em;
    /*border: solid 1px #65bad8;*/
  }
}
