.introductionSection {
  margin-top: 20px;
  display: flex;
  min-height: 100vh;
  align-items: center;

  .introductionWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 0 10px #6B6B6B7F;

    .top {
      display: flex;
      border-bottom: 1px;
      padding-left: .5em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid #6B6B6B7F;
      margin-bottom: 15px;

      .photo {
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
        position: relative;

        img {
          color: transparent;
          left: -15px;
          position: absolute;
          top: -5px;
        }
      }

      .texts {
        padding-left: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        .name {
          font-size: 1.5em;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }

    .introduction {
      height: 40vh;
      display: flex;
      flex-direction: column;

      .messages {
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow: scroll;
        height: 90%;
        overflow-y: visible;

        .message {
          font-size: .95em;
          margin: 0;
          padding: 0.75em;
          border-radius: 1em;
          background: #2f84ff;
          width: 90%;
          color: white;
          margin-top: 1em;
          line-height: 1.5;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      .inputWrapper {
        border-top: 1px solid #6B6B6B7F;
        margin-top: .25em;
        padding-top: .5em;
        padding-bottom: .5em;

        input {
          height: 30px;
          width: 89%;
          margin-left: .5em;
          margin-right: .5em;

          padding-left: 1em;

          background: rgba(201, 201, 201, 0.5);

          border-radius: 10px;
          border: none;

          &:focus {
            outline: none;
          }

          &:placeholder-shown {
            padding-left: 1em;
          }
        }
      }
    }
  }
}
