.introductionWrapper {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: solid 2px gray;
  border-radius: 10px;
  width: 500px;

  .top {
    display: flex;
    border-bottom: 1px;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid gray;
    margin-bottom: 15px;

    .photo {
      width: 75px;
      height: 75px;
      background-image: url('/photos/avatar.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      border: solid 1px #b345fb;
    }

    .texts {
      padding-left: 10px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
  }

  .introduction {
    height: 50vh;

    .messages {
      padding-left: 0.5em;
      padding-right: 0.5em;

      .message {
        font-size: 1em;
        margin: 0;
        padding: .75em;
        border-radius: 1em;
        background: #d7e6e9;
        border: solid 1px #b345fb;
        width: 95%;
        color: black;
        margin-top: 1em;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
