<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right nav-desktop hide-on-med-and-down">
        <li><a href="/" class="activity {% if page.dir == '/' %}active{% endif %}">Activity</a></li>
        <li><a href="/map" class="map {% if page.dir == '/map/' %}active{% endif %}">Map</a></li>
        <li><a href="/biography" class="bio {% if page.dir == '/biography/' %}active{% endif %}">Biography</a></li>
      </ul>

      <ul id="nav-mobile" class="nav-mobile side-nav">
        <li><a href="/" class="activity {% if page.dir == '/' %}active{% endif %}">Activity</a></li>
        <li><a href="/map" class="map {% if page.dir == '/map/' %}active{% endif %}">Map</a></li>
        <li><a href="/biography" class="bio {% if page.dir == '/biography/' %}active{% endif %}">Biography</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>See what i'm doing on the web</h4>
      </div>
    </div>

  </div>

  <div class="center social-buttons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github"></i>
  </div>

  <section id=timeline>
    <div class="demo-card-wrapper">
      <div class="demo-card demo-card--step1">
        <div class="head">
          <div class="number-box">
            <span>01</span>
          </div>
          <h2><span class="small">Subtitle</span> Technology</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          <img src="http://placehold.it/1000x500" alt="Graphic">
        </div>
      </div>

      <div class="demo-card demo-card--step2">
        <div class="head">
          <div class="number-box">
            <span>02</span>
          </div>
          <h2><span class="small">Subtitle</span> Confidence</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          <img src="http://placehold.it/1000x500" alt="Graphic">
        </div>
      </div>

      <div class="demo-card demo-card--step3">
        <div class="head">
          <div class="number-box">
            <span>03</span>
          </div>
          <h2><span class="small">Subtitle</span> Adaptation</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          <img src="http://placehold.it/1000x500" alt="Graphic">
        </div>
      </div>

      <div class="demo-card demo-card--step4">
        <div class="head">
          <div class="number-box">
            <span>04</span>
          </div>
          <h2><span class="small">Subtitle</span> Consistency</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          <img src="http://placehold.it/1000x500" alt="Graphic">
        </div>
      </div>

      <div class="demo-card demo-card--step5">
        <div class="head">
          <div class="number-box">
            <span>05</span>
          </div>
          <h2><span class="small">Subtitle</span> Conversion</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          <img src="http://placehold.it/1000x500" alt="Graphic">
        </div>
      </div>

    </div>
  </section>
</div>
