<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>See what i'm doing on the web</h4>
      </div>
    </div>

  </div>

  <div class="center social-buttons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github"></i>
  </div>

  {% verbatim %}
    <section id="timeline">
      {{ message }}
    </section>
  {% endverbatim %}

  {#<section id=timeline>#}
    {#<div class="demo-card-wrapper">#}
      {#<div class="demo-card demo-card--step1">#}
        {#<div class="head">#}
          {#<div class="number-box">#}
            {#<span>01</span>#}
          {#</div>#}
          {#<h2><span class="small">Subtitle</span> Technology</h2>#}
        {#</div>#}
        {#<div class="body">#}
          {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>#}
          {#<img src="http://placehold.it/1000x500" alt="Graphic">#}
        {#</div>#}
      {#</div>#}

      {#<div class="demo-card demo-card--step2">#}
        {#<div class="head">#}
          {#<div class="number-box">#}
            {#<span>02</span>#}
          {#</div>#}
          {#<h2><span class="small">Subtitle</span> Confidence</h2>#}
        {#</div>#}
        {#<div class="body">#}
          {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>#}
          {#<img src="http://placehold.it/1000x500" alt="Graphic">#}
        {#</div>#}
      {#</div>#}

      {#<div class="demo-card demo-card--step3">#}
        {#<div class="head">#}
          {#<div class="number-box">#}
            {#<span>03</span>#}
          {#</div>#}
          {#<h2><span class="small">Subtitle</span> Adaptation</h2>#}
        {#</div>#}
        {#<div class="body">#}
          {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>#}
          {#<img src="http://placehold.it/1000x500" alt="Graphic">#}
        {#</div>#}
      {#</div>#}

      {#<div class="demo-card demo-card--step4">#}
        {#<div class="head">#}
          {#<div class="number-box">#}
            {#<span>04</span>#}
          {#</div>#}
          {#<h2><span class="small">Subtitle</span> Consistency</h2>#}
        {#</div>#}
        {#<div class="body">#}
          {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>#}
          {#<img src="http://placehold.it/1000x500" alt="Graphic">#}
        {#</div>#}
      {#</div>#}

      {#<div class="demo-card demo-card--step5">#}
        {#<div class="head">#}
          {#<div class="number-box">#}
            {#<span>05</span>#}
          {#</div>#}
          {#<h2><span class="small">Subtitle</span> Conversion</h2>#}
        {#</div>#}
        {#<div class="body">#}
          {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>#}
          {#<img src="http://placehold.it/1000x500" alt="Graphic">#}
        {#</div>#}
      {#</div>#}

    {#</div>#}
  {#</section>#}
</div>
