.blogsPostsWrapper {
  display: flex;
  width: 100vw;
  min-height: fit-content;
  background: var(--azure);
  padding-left: 2.75em;
  border-top: #aecfff solid 1px;

  @media only screen and (max-width: 600px) {
    padding-left: 1em;
  }

  .blogs {
    width: 97%;
    display: flex;
    flex-direction: column;

    h2 {
      color: white;
      font-weight: 400;
      font-size: 3em;
      text-transform: uppercase;

      @media only screen and (max-width: 600px) {
        text-align: center;
        margin: 0;
        margin-top: .5em;
        margin-bottom: .5em;
      }
    }

    .blogsScroller {
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: 1000px) {
        flex-direction: column-reverse;
      }
    }

    .blogsWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
      }

      .quote {
        color: var(--purple);
        height: 1.5em;

        @media only screen and (max-width: 1405px) {
          display: none;
        }
      }

      .first {
        padding-right: 1.5em;

        @media only screen and (max-width: 1405px) {
          display: none;
        }
      }

      .second {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .third {
        margin-top: auto;
        margin-bottom: 0;
        padding-left: .25em;

        @media only screen and (max-width: 1405px) {
          display: none;
        }
      }

      .blog {
        background: white;
        box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
        border-radius: 10px;
        padding: 1em;
        display: flex;
        flex-direction: row;
        margin-right: .5vw;
        margin-bottom: 2em;

        &:first-child {
          margin-left: 0;
        }

        @media only screen and (max-width: 1000px) {
          min-width: 49%;
          margin-right: 0;
          margin-bottom: 1em;
        }

        a {
          color: inherit;
        }

        .title {
          text-transform: uppercase;
          text-decoration: underline;
          font-weight: 600;
          margin-left: auto;
          margin-right: auto;
        }

        .metadata {
          padding-top: 1em;
          font-weight: 500;
          margin-right: auto;

          .date {
            color: var(--purple);
          }
        }

        .top {
          width: 90%;
        }

        .paragraphWrapper {
          padding-top: 1.25em;
          padding-bottom: 1.25em;
          display: flex;

          p {
            margin: 0;
            font-weight: 300;
            width: 95%;
            line-height: 1.6;
            height: 10em;
            overflow-y: scroll;

            @media only screen and (max-width: 600px) {
              overflow: visible;
              height: auto;
            }
          }
        }
      }
    }
  }

  .pager {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 1px var(--purple);
    padding: 10px;
    border-radius: 10px;
    background: white;

    .active {
      color: var(--purple);
      font-weight: 600;
      font-size: 1.25em;
    }

    li {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
      padding-right: 1em;
      padding-left: 1em;
      border-right: solid 1px black;
      font-weight: 300;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }
    }
  }
}
