.blogsPostsWrapper {
  display: flex;
  width: 100vw;
  min-height: fit-content;
  background: var(--azure);
  padding-left: 2.75em;
  border-top: #aecfff solid 1px;

  @media only screen and (max-width: 600px) {
    padding-left: 1em;
  }

  .blogs {
    width: 97%;
    display: flex;
    flex-direction: column;

    h2 {
      color: white;
      font-weight: 400;
      font-size: 3em;
      text-transform: uppercase;

      @media only screen and (max-width: 600px) {
        text-align: center;
        margin: 0;
        margin-top: .5em;
        margin-bottom: .5em;
      }
    }

    .blogsWrapper {
      padding-left: 0.25em;
      display: grid;
      padding-bottom: 1.5rem;
      gap: 0.75rem;
      grid-template-columns: repeat(3,minmax(0,1fr));

      @media only screen and (max-width: 1000px) {
        padding-left: 0;

        grid-template-columns: repeat(2,minmax(0,1fr));
      }

      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
      }

      .first {
        padding-right: 1.5em;
      }

      .third {
        margin-top: auto;
        margin-bottom: 0;
        padding-left: .25em;
      }

      .quote {
        color: var(--purple);
        height: 1.5em;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }

      .blog {
        background: white;
        box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
        border-radius: 10px;
        padding: 1em;
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: 600px) {
          padding-left: 0;
          padding-right: 0;
        }

        a {
          color: inherit;
        }

        .title {
          text-transform: uppercase;
          text-decoration: underline;
          font-weight: 600;
          margin-left: auto;
          margin-right: auto;
        }

        .metadata {
          padding-top: 1em;
          font-weight: 500;
          margin-right: auto;

          .date {
            color: var(--purple);
          }
        }

        .top {
          width: 90%;
        }

        .paragraphWrapper {
          padding-top: 1.25em;
          padding-bottom: 1.25em;
          display: flex;

          p {
            margin: 0;
            font-weight: 300;
            width: 95%;
            line-height: 1.6;
            height: 10em;
            overflow-y: scroll;

            @media only screen and (max-width: 600px) {
              overflow: visible;
              height: auto;
            }
          }
        }
      }
    }
  }
}
