<html>
    <head>
        <title>{{ .Site.Title }}</title>
        {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 mx-auto body-wrapper">

                    <header class="header text-center">
                        {{$logo := resources.Get "images/logo.png"}}
                        <img alt="Logo" src="{{$logo.Permalink}}" />

                        <h2>If you can dream it - I can build it</h2>

                        <hr class="splitter" />
                    </header>

                    {{ partial "who-am-i" }}

                    <section class="professional-info">
                        <h3>Professional experience</h3>

                        <div class="row wrapper">
                            <div class="col-md-2">
                                {{ range .Site.Data.superpowers }}
                                    {{ partial "super-power" . }}
                                {{ end }}
                            </div>

                            <div class="col-md-10">
                                {{ range .Site.Data.jobs }}
                                    {{ partial "jobs" (dict "job" . "site" .Site) }}
                                {{ end }}
                            </div>
                        </div>
                    </section>

                    <section class="latest-projects">
                        <h3>Latest projects</h3>

                        <p>Here you can find various open source project I created or had any part.</p>

                        <div class="row">
                            {{ range (where .Pages "Section" "project" ) }}
                                <div class="col-md-3">
                                    <div class="card">
                                        {{ $previewImage := resources.Get (printf "%s" .Params.image) }}
                                        <img class="card-img-top" src="{{$previewImage.Permalink}}" alt="{{.Title}} image">
                                        <div class="card-body">
                                            <h5 class="card-title">{{.Title}}</h5>
                                            <p class="card-text">{{.Params.shortDescription}}</p>
                                            <a href="{{.Permalink}}" class="btn btn-primary">Have a deeper look</a>
                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        </div>

                    </section>

                    <section class="latest-photos">
                        <h3>Latest photos</h3>

                        <p>Here you can find my latest photos I took. You can see more photos in <a href="/photos">here</a></p>

                        <div class="row">
                            {{ range $index, $element := .Site.Data.photos }}
                            <div class="col-md-3">
                                {{ $picture := resources.Get (printf "images/photos/%s" $element.picture) }}

                                {{ if mod $index 2 }}
                                    <img src="{{$picture.Permalink}}" class="img-fluid odd" title="{{$element.description}}" />
                                {{ else }}
                                    <img src="{{$picture.Permalink}}" class="img-fluid even" title="{{$element.description}}" />
                                {{ end }}
                            </div>
                            {{end}}
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </body>
</html>
