<html>
    <head>
        <title>{{ .Site.Title }}</title>
        {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ $favicon := resources.Get "images/favicon.ico" }}
        <link rel="icon" href="{{$favicon.Permalink}}" type="image/gif" sizes="16x16">

        {{ partial "fonts" }}
        {{ partial "ga" }}

        {{ $logo := resources.Get "images/logo.png" }}
        {{ partial "og" (dict "title" .Site.Title "image" $logo.Permalink "type" "website" "description" "Roy Segall personal site" ) }}
    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 mx-auto body-wrapper">

                    {{ partial "header" }}
                    {{ partial "who-am-i" }}

                    <section class="professional-info">
                        <h3>Professional experience</h3>

                        <div class="row wrapper">
                            <div class="col-12 col-md-3">
                                {{ range .Site.Data.superpowers }}
                                    {{ partial "super-power" . }}
                                {{ end }}
                            </div>

                            <div class="col-12 col-md-9">
                                {{ range .Site.Data.jobs }}
                                    {{ partial "jobs" (dict "job" . "site" .Site) }}
                                {{ end }}
                            </div>
                        </div>
                    </section>

                    <section class="blog-posts">
                        <h3>Blog posts</h3>
                        Here you read various blog posts I wrote over the years: From my time at Gizra, and my blog
                        posts at Medium.com

                        <div class="col-12 col-md-12 wrapper">
                            {{ range .Site.Data.blogs }}
                                {{ partial "blog-posts" (dict "blogPost" . "site" .Site) }}
                            {{ end }}
                        </div>
                    </section>

                    <section class="latest-projects">
                        <h3>Latest projects</h3>

                        <p>Here you can find various open source project I created or had any part. You can see more projects <a href="/project">here</a>.</p>

                        <div class="row">
                            {{ range first 6 (where .Pages "Section" "project" ) }}
                                <div class="col-md-4">
                                    <div class="card">
                                        {{ $previewImage := resources.Get (printf "%s" .Params.image) }}
                                        {{ $previewImage := $previewImage.Resize "1500x q75" }}
                                        <a href="{{.Permalink}}"><img class="card-img-top" src="{{$previewImage.Permalink}}" alt="{{.Title}} image"></a>
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="{{.Permalink}}">{{.Title}}</a></h5>
                                            <p><b>Technologies</b>: {{ partial "project-technologies" (dict "Technologies" .Params.technologies) }}</p>
                                            <p class="card-text">{{.Params.shortDescription}}</p>
                                            <a href="{{.Permalink}}" class="btn btn-primary">Have a deeper look</a>
                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </body>
</html>
