#bio {

  h1 {
    border-bottom: 1px solid $red;
    padding-bottom: 10px;
  }

  .first {

    img {
      border: solid 1px $red;
    }

    .card {

      a {
        color: white;
      }
    }

    .short-bio {
      background-color: $red;
    }

    .skills {
      background-color: $orange;
    }

    .short-bio, .skills {

      td {
        padding: 5px 0;
      }
    }
  }

  .second {
    margin-top: 0.5em;

    .jobs {

      h3 {
        margin-top: 0;
      }

      .list {

        p {
          padding-left: 10px;
        }
      }
    }
  }

  .portfolio {
    .item {
      padding: 0 20px;
    }
  }
}
