@mixin nav-bar-colors() {

  &.activity {
    border-bottom: 1px solid $orange;
  }

  &.map {
    border-bottom: 1px solid $green;
  }

  &.media {
    border-bottom: 1px solid $blue;
  }

  &.bio {
    border-bottom: 1px solid $red;
  }
}
