.no-pad-bot {
  background: #4db6ac;
  border: solid 1px #93c3f5;
  margin-top: 15px;
  border-left: none;
  border-right: none;

  h1 {
    color: white;
  }
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  .section {
    width: 100%;
  }
}

.social-buttons {
  padding-bottom: 1em;
  font-size: 2.5em;

  i {
    padding-right: 1em;
    padding-left: 1em;
  }

  .fa-facebook-square {
    color: #4267b2;

    &:hover {
      color: #4575c3;
    }
  }

  .fa-twitter-square {
    color: #1da1f2;

    &:hover {
      color: #1eaaff;
    }
  }

  .fa-instagram {
    color: #e44f50;

    &:hover {
      color: #ff5253;
    }
  }

  .fa-github {
    color: #24292e;

    &:hover {
      color: #4d5a5f;
    }
  }
}

@import "timeline";
