.latest-projects, .latest-photos, .who-am-i, .professional-info {
  padding-top: 2em;

  h3 {
    font-size: 2em;
    font-family: 'Coiny', cursive;
    color: $blue1;
  }
}


.who-am-i {

  .profile-pic {
    border: solid 1px $orange1;
  }

  ul {
    padding: 0;
    padding-top: .5em;

    li {
      display: inline;
      padding-right: 1em;

      i {
        font-size: 1.5em;
        color: $blue2;
        -webkit-transition: color .5s; /* Safari */
        transition: color .5s;

        &:hover {
          color: $orange1;

        }
      }
    }
  }

  .intro {
    padding-top: .25em;
    font-size: 1.25em;
  }
}

.professional-info {

  .wrapper {
    padding-top: 1em;

    .super-power {
      padding-bottom: .5em;

      .full-star {
        color: $orange1;
      }

      .empty-star {
        color: $blue1;
      }
    }

    .job {
      border-bottom: solid 1px $orange1;
      margin-bottom: 1.25em;

      span {
        font-size: 1.25em;
      }
    }
  }
}
