body {
  font-size: 18px;
  padding-top: 1em;
  font-family: 'Muli', sans-serif;
}

.header {

  img {
    max-width: 35%;
  }

  h2 {
    @include machineFont();
    padding-top: 1em;
    padding-bottom: .5em;
    color: $blue1;
    text-transform: uppercase;
    letter-spacing: .25em;
  }

  hr {
    background: $orange1;
    width: 75%;
  }
}

.body-wrapper {
  padding: 1em;
  border-radius: .25em;
}

.about.content {

  h1 {
    padding-bottom: .25em;
  }

  h2 {
    padding-top: 1em;
    padding-bottom: .5em;
  }
}

.technology {
  color: #fafafa;
  padding: .25em .5em;
  font-size: .75em;
  border-radius: .25em;
  display: inline-block;
  margin-top: .25em;

  &.odd {
    background: $blue1;
  }

  &.even {
    background: $orange1;
  }
}
