<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right nav-desktop hide-on-med-and-down">
        <li><a href="/" class="activity {% if page.dir == '/' %}active{% endif %}">Activity</a></li>
        <li><a href="/map" class="map {% if page.dir == '/map/' %}active{% endif %}">Map</a></li>
        <li><a href="/biography" class="bio {% if page.dir == '/biography/' %}active{% endif %}">Biography</a></li>
      </ul>

      <ul id="nav-mobile" class="nav-mobile side-nav">
        <li><a href="/" class="activity {% if page.dir == '/' %}active{% endif %}">Activity</a></li>
        <li><a href="/map" class="map {% if page.dir == '/map/' %}active{% endif %}">Map</a></li>
        <li><a href="/biography" class="bio {% if page.dir == '/biography/' %}active{% endif %}">Biography</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
