.job-display {

  .logo {
    margin-top: 7vh;
    height: 7vh;
  }

  .description {
    text-align: left;
    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;

    p {
      margin-bottom: .75em;

      em {
        font-weight: bold;
        text-decoration: underline;
        color: #65bad8;
      }
    }
  }

  .arrow {

    &.active {
      color: #67c1e0;
    }
  }
}
