.jobs {
  min-height: 100vh;

  .jobs-section {

    .job {
      background-color: white;
      border-radius: 6px;
      color: #141c3a;
      padding: 1.25rem;
      min-height: 60vh;
      max-width: 100vh;
      border: solid 2px #e6ab5d;
      margin: 0 auto;
    }
  }

  .filler {
    min-height: 50vh;
  }
}
