{#
/**
 * @file picture.html.twig
 * Default theme implementation to present Picture data.
 *
 * This template is used when viewing Picture pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_picture()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('picture') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
