<html>
<head>
    <title>{{ .Site.Title }}</title>
    {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ $image := index (shuffle .Site.Data.photos) 0 }}
    {{ $picture := (resources.Get (printf "images/photos/%s" $image.picture)).Resize "1200x q75" }}
    {{ partial "og" (dict "title" .Site.Title "image" $picture.Permalink "type" "website" "description" "Recent photos I took" ) }}

    {{ partial "fonts" }}
    {{ partial "ga" }}
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto body-wrapper">

            {{ partial "header" }}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Photos</li>
                </ol>
            </nav>

            <div class="photos-page-wrapper">
                <div class="row">
                    {{ range $index, $element := shuffle .Site.Data.photos }}
                    <div class="col-md-4 item">
                        {{ $picture := resources.Get (printf "images/photos/%s" $element.picture) }}
                        {{ $image := $picture.Resize "1200x q75" }}

                        {{ if mod $index 2 }}
                        <img src="{{$image.Permalink}}" class="img-fluid odd" title="{{$element.description}}" />
                        {{ else }}
                        <img src="{{$image.Permalink}}" class="img-fluid even" title="{{$element.description}}" />
                        {{ end }}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

