<section class="who-am-i">
    <h3>Who am I?</h3>

    <h1>I'm Roy Segall</h1>

    <ul>
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
        <li><i class="fab fa-github"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
    </ul>
    <p class="intro">
        Enthusiastic, self-learned, highly motivated, love to explore new technologies,
        contributing to open-source projects, speak at local meetups, makes the best Tahini you
        can imagine, and an amateur photographer.
    </p>
</section>
