<section class="who-am-i">
    <h3>Who am I?</h3>

    <div class="row">
        <div class="col-12 col-md-2">
            {{ $profile := resources.Get "images/profile.jpg" }}
            {{ $image := $profile.Resize "1200x q50" }}
            <img alt="Logo" class="img-fluid profile-pic" src="{{$image.Permalink}}" />
            <ul class="text-center">
                <li><a href="https://www.facebook.com/RoySegall" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/RoySegall" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://www.github.com/RoySegall" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/roysegall" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="col-12 col-md-9">
            <h1>I'm Roy Segall</h1>

            <p class="text">
                Enthusiastic, self-learned, highly motivated, love to explore new technologies,
                contributing to open-source projects, speak at local meetups, makes the best Tahini you
                can imagine, and an amateur photographer.
            </p>

            <h4>What is computerised dreams?</h4>


            <p class="text">
                Once upon a day, I decided to have a cool email address. I look for the domain <code>segall.com</code>
                but this was taken. So I looked for other domains and eventually found <code>segall.io</code>.
                If you want to use Google’s services with a custom domain you need to register as a business. I thought of a
                cool name and found out that Computerised dreams are pretty awesome.
            </p>
            <p class="text">
                It’s not just a name - it’s a way of creating products and solutions. Every time someone approaches me
                and asked me on how his app should look or act, or maybe a customer had an idea but never knew how to
                describe it I use to give them the next tip: Close your eyes and start to imagine how your up should
                look like. How your brand new site looks and behaves in your deepest dreams.
            </p>

            <p class="text">
                My mission, as a developer and someone that knows a thing or two about computers, is to take your
                wildest dreams and turn them to something real.

                <br /><br />
                This is why I choose this name.
            </p>
        </div>
    </div>
</section>
