<section class="who-am-i">
    <h3>Who am I?</h3>

    <div class="row">
        <div class="col-md-2">
            {{$logo := resources.Get "images/profile.jpg"}}
            <img alt="Logo" class="img-fluid profile-pic" src="{{$logo.Permalink}}" />
            <ul class="text-center">
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-github"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
            </ul>
        </div>

        <div class="col-md-8">
            <h1>I'm Roy Segall</h1>

            <p class="text">
                Enthusiastic, self-learned, highly motivated, love to explore new technologies,
                contributing to open-source projects, speak at local meetups, makes the best Tahini you
                can imagine, and an amateur photographer.
            </p>

            <p class="text">
                If you'ld like to know more about me or what is Computorised dreams head to the <a href="/about/me">about me</a> page.
            </p>
        </div>
    </div>
</section>
