.photos-page-wrapper {

  .item {
    padding-bottom: .5em;

    img {

      &.even {
        border: solid 1px $orange1;
      }

      &.odd {
        border: solid 1px $blue1;
      }
    }
  }
}
