.jobsWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  background: #2f84ff;
  justify-content: space-between;


  .job {
    margin-top: 2em;
    margin-left: 1em;
    background: white;
    height: 90%;
    width: 75%;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: solid 2px #825ee4;
    box-shadow: 0 20px 53px -30px white;
    margin-right: 1em;

    img {
      margin: 0 auto;
    }

    .paragraphs {
      overflow-y: auto;
    }

    p {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 2em;
    }
  }

  .timeline {
    width: 325px;
    height: 670px;
    background: #ECF1F524;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    margin-left: 2em;
    box-shadow: 0 20px 53px -30px rgba(95, 102, 173, 0.566816);
    border-radius: 10px;
    padding: 1em;
    margin-top: 2em;

    h3 {
      margin: 0;
      font-weight: bold;
      font-size: 2em;
      color: #FFFFFF;
      padding-bottom: 1em;
      text-align: center;
      text-transform: uppercase;
    }

    .box {
      margin-top: 2em;

      .container {
        width: 100%;
        display: flex;

        .cards {
          margin-left: 12px;
          transform: translateY(-10px);
          border-left: #D1D6E6 solid 2px;
          padding-left: 1em;

          .card {
            padding: 1em .5em;
            width: 250px;
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 16px 15px -10px rgba(105, 96, 215, 0.0944602);
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;

            .dot {
              width: 14px;
              height: 14px;
              background: #D1D6E6;
              position: absolute;
              border-radius: 7px;
              left: -23px;

              &.active {
                background: #825ee4;
              }
            }

            h4 {
              font-weight: 500;
              margin: 0;
              padding-bottom: .5em;
            }

            p {
              font-size: .95em;
              margin: 0;
              font-weight: 300;
              color: #2B2862;
            }
          }
        }
      }
    }
  }
}
