.jobsWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: 91vh;
  width: 100vw;
  background: #2f84ff;

  .timeline {
    width: 355px;
    height: 670px;
    background: #ECF1F524;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    margin-left: 2em;
    box-shadow: 0 20px 53px -30px rgba(95, 102, 173, 0.566816);
    border-radius: 10px;
    padding: 1em;
    margin-top: 2em;

    h3 {
      margin: 0;
      font-weight: bold;
      font-size: 2em;
      color: #FFFFFF;
      padding-bottom: 1em;
    }

    .box {
      margin-top: 2em;

      .container {
        width: 100%;
        display: flex;

        .lines {

          .dot {
            width: 14px;
            height: 14px;
            background: #D1D6E6;
            border-radius: 7px;
          }

          .line {
            height: 100px;
            width: 2px;
            background: #D1D6E6;
            margin-left: 5.3px;
          }
        }

        .cards {
          margin-left: 12px;
          transform: translateY(-10px);

          .card {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: .10em;
            padding-bottom: .10em;
            width: 25vw;
            //width: 249px;
            //height: 93px;
            //padding-top: 25px;
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 16px 15px -10px rgba(105, 96, 215, 0.0944602);
            margin-bottom: 10px;
            //padding-left: 1em;

            &.mid {
              //height: 71px;
            }

            h4 {
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              margin: 0;
            }

            p {
              margin: 0;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              color: #2B2862;
            }
          }
        }
      }
    }
  }
}
