@tailwind base;
@tailwind components;

.text-to-read {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.title-for-text {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    letter-spacing: .5em;
    font-size: 2.5em;
}

.hand-writing {
    font-family: 'Caveat', cursive;
}

.orange-color {
    color: #efb15e;
}

.blue-color {
    color: #6bcff1;
}

.blue-background {
    background: #69c8e8;
}

.orange-background {
    background: #efb15e;
}

/* Introduction */
.introduction {
    @apply w-screen flex content-between flex-wrap justify-center font-bold
}

.introduction-h1 {
    @apply text-6xl pt-2
}

.introduction-p {
    @apply text-center text-4xl pt-10 font-hairline block w-full
}

/* About me */
.about-me-section {
    @apply w-screen text-white text-center flex items-center pt-0 blue-background
}

.about-me-superpowers {
    @apply w-screen text-center pb-4
}

.about-me-superpowers-h2 {
    @apply orange-color text-4xl font-bold pb-4 title-for-text
}

.about-me-superpowers-ul {
    @apply w-3/4 m-auto text-to-read
}

.star {
    @apply ml-1 text-xl text-right
}

.star-full {
    @apply star orange-color
}

.star-empty {
    @apply star blue-color
}

/* Jobs */
.jobs-section {
    height: 50vh;
    @apply w-screen text-center orange-background
}

.jobs-section-h2 {
    @apply text-4xl font-bold text-white title-for-text pb-4 pt-4
}

.job-item {
    @apply m-auto flex items-center justify-center pt-10 pb-4
}

.job-description {
    @apply pt-10 w-5/6 m-auto leading-loose
}

/* Blogs and contributions */
.grid-width {
    @apply m-auto text-to-read w-3/4
}

.grid-responsive {
    @apply pb-6 grid grid-cols-3 gap-3
}

/* Responsive */
@screen xs {
    .introduction-h1 {
        @apply text-4xl
    }

    .introduction-p {
        @apply pl-1 pr-1 text-3xl
    }

    .about-me-section {
        @apply pt-20
    }

    .about-me-superpowers {
        @apply pb-4
    }

    .about-me-superpowers-ul {
        @apply w-11/12
    }

    .jobs-section {
        height: auto;
    }

    .jobs-section-h2 {
        @apply pb-4
    }

    .grid-width {
        @apply w-11/12 pb-4
    }

    .grid-responsive {
        @apply grid-cols-1
    }
}

@screen sm {
    .introduction-h1 {
        @apply text-4xl
    }

    .introduction-p {
        @apply text-3xl
    }

    .about-me-section {
        @apply pt-20
    }

    .about-me-superpowers {
        @apply pb-4
    }

    .about-me-superpowers-ul {
        @apply w-9/12
    }

    .jobs-section {
        height: auto;
    }

    .jobs-section-h2 {
        @apply pb-4
    }

    .grid-width {
        @apply w-11/12 pb-4
    }

    .grid-responsive {
        @apply grid-cols-1
    }
}

@screen md {
    .introduction-h1 {
        @apply text-5xl
    }

    .introduction-p {
        @apply text-4xl
    }

    .about-me-section {
        @apply pt-20
    }

    .about-me-superpowers {
        @apply pb-4
    }

    .about-me-superpowers-ul {
        @apply w-9/12
    }

    .jobs-section {
        height: auto;
    }

    .jobs-section-h2 {
        @apply pb-4
    }

    .grid-responsive {
        @apply grid-cols-1
    }

    .grid-width {
        @apply w-11/12 pb-4
    }
}

@screen lg {
    .grid-width {
        @apply w-11/12
    }
}

@tailwind utilities;
