<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>See what i'm doing on the web</h4>
      </div>
    </div>

  </div>

  {% verbatim %}
    <section id="timeline">
      <div class="center social-buttons">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
      </div>

      <div class="demo-card-wrapper">
        <div v-for="(post, index) in posts" v-bind="{'class': post.className, 'item' : post.entity_type, 'id': post.id}">
          <div class="head">
				    <div class="number-box">
					    <span><div v-social-icon:icon="post.entity_type"></div></span>
				    </div>
				    <h2><a v-bind:href="post.url">Go to post</a></h2>
			    </div>
			    <div class="body">
			      <p class="text" v-if="post.name">{{ post.name }}</p>

			      <div class="separator" v-if="post.name && post.assets"></div>

            <div v-if="post.assets" class="media">
              <span v-media:entry="{'assets': post.assets, 'entity_type': post.entity_type}"></span>
            </div>

            <div class="reactions">
			        <ul>
			          <li class="first">
			            <i class="fal fa-heart" alt="Likes"></i> <span class="data">{{ post.likes !== 0 ? post.likes : 0 }}</span>
                </li>
			          <li>
			            <i class="fal fa-comment-alt" alt="comments"></i> <span class="data">{{ post.comments !== 0 ? post.comments : 0 }}</span>
                </li>
			          <li class="last">
			            <i class="fal fa-share-square" alt="Shares"></i> <span class="data">{{ post.shares !== 0 ? post.shares : 0 }}</span>
                </li>
              </ul>
			      </div>

			    </div>
      </div>

      <span v-if="showLoading" class="center-align"><i class="fal fa-spinner fa-spin fa-10x "></i></span>
      <a class="waves-effect waves-light btn" v-on:click="loadMore" v-if="showLoadMore"><i class="fal fa-cloud-download"></i> Load more</a>
    </section>
  {% endverbatim %}

</div>
