<html>
<head>
     <title>{{ .Site.Title }}</title>
     {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
     <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

     {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
     <link rel="stylesheet" href="{{ $style.Permalink }}">

     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     {{ $favicon := resources.Get "images/favicon.ico" }}
     <link rel="icon" href="{{$favicon.Permalink}}" type="image/gif" sizes="16x16">

     {{ $image := ((index (shuffle .Pages) 0).Params.image) }}
     {{ $picture := (resources.Get (printf "%s" $image)).Resize "1200x q75" }}

     {{ partial "og" (dict "title" "{{.Params.Title}} - Projects list" "image" $picture.Permalink "type" "website" "description" "Projects I created or participated" ) }}

     {{ partial "fonts" }}
     {{ partial "ga" }}
</head>

<body>

<div class="container-fluid">
     <div class="row">
          <div class="col-md-10 mx-auto body-wrapper">

               {{ partial "header" }}

               <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Home</a></li>
                         <li class="breadcrumb-item active" aria-current="projects">Projects</li>
                    </ol>
               </nav>

               <div class="projects-wrapper">
                    <div class="row">
                         {{ range .Pages }}
                         <div class="col-md-4">
                              <div class="card">
                                   {{ $previewImage := resources.Get (printf "%s" .Params.image) }}
                                   {{ $previewImage := $previewImage.Resize "1500x q75" }}
                                   <img class="card-img-top" src="{{$previewImage.Permalink}}" alt="{{.Title}} image">
                                   <div class="card-body">
                                        <h5 class="card-title"><a href="{{.Permalink}}">{{.Title}}</a></h5>
                                        <p class="card-text">{{.Params.shortDescription}}</p>
                                        <a href="{{.Permalink}}" class="btn btn-primary">Have a deeper look</a>
                                   </div>
                              </div>
                         </div>
                         {{ end }}
                    </div>
               </div>
          </div>
     </div>
</div>

</body>
</html>

