<html>
<head>
     <title>{{ .Site.Title }}</title>
     {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
     <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

     {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
     <link rel="stylesheet" href="{{ $style.Permalink }}">

     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     {{ $logo := resources.Get "images/logo.png" }}
     {{ partial "og" (dict "title" .Site.Title "image" $logo.Permalink "type" "website" "description" "Roy Segall personal site" ) }}

     {{ partial "fonts" }}
     {{ partial "ga" }}
</head>

<body>

<div class="container-fluid">
     <div class="row">
          <div class="col-md-10 mx-auto body-wrapper">

               {{ partial "header" }}

               {{.Content}}

               {{ range .Pages }}
               <div style="border: 1px solid black; margin:10px; padding:10px; ">
                    <div style="font-size:20px;">
                         <a href="{{.URL}}">{{.Title}}</a>
                    </div>
                    <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
                    <div style="color:grey; font-size:16px;">{{if .Params.love}}love: {{.Params.love}}{{end}}</div>

                    <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                    <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
                    <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

                    <p style="font-size:18px;">{{.Summary}}</p>
               </div>
               {{ end }}
          </div>
     </div>
</div>

</body>
</html>

