<html>
<head>
    <title>{{.Params.Title}} - {{ .Site.Title }}</title>
    {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ partial "fonts" }}
    {{ partial "ga" }}
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto body-wrapper">
            {{ partial "header" }}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{.Title}}</li>
                </ol>
            </nav>

            <section class="about content">
                {{.Content}}
            </section>
        </div>
    </div>
</div>
</body>
</html>
